@cencosud-ds:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/51193403/packages/npm/:_authToken=glpat-8ASRwMRojB3hcxaFgx3J

@ccom-easy-design-system:registry=https://node-registry.bit.cloud/
@teambit:registry=https://node-registry.bit.cloud/
//node-registry.bit.cloud/:_authToken=f91ccd4c-0f9a-4ee7-ba17-40404dd9b05a
always-auth=true
