@cencosud-cencommerce:registry=https://npm.pkg.github.com
//https://npm.pkg.github.com/:_authToken=$GHT_EDS_TOKEN

@ccom-easy-design-system:registry=https://node-registry.bit.cloud/
@teambit:registry=https://node-registry.bit.cloud/
//node-registry.bit.cloud/:_authToken=f91ccd4c-0f9a-4ee7-ba17-40404dd9b05a
always-auth=true
